body{
	background: #056905;
	color: #000;
}
.change{
	display: flex;
}
.wrap{
	width: 35px;
	height: 15px;
	margin: 0 10px;
	background: #ccc;
	border: 1px solid #000;
	-webkit-border-radius: 10px;
	        border-radius: 10px;
}
.boo{
	width: 15px;
	height: 15px;
	background: #000;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	transition: all .3s;
}
.red-site{
	width: 50px;
	height: 50px;
	background: red;
	border: 3px solid #fff;
	color: #fff;
	cursor: pointer;
}
.green-site{
	width: 50px;
	height: 50px;
	background: green;
	border: 3px solid #fff;
	color: #fff;
	cursor: pointer;
}
.popup{
	width: 200px;
	height: 150px;
	background: #FFF;
	border: 2px solid #ccc;
	position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s;
}
.ok{
	padding: 10px 15px;
    background: #14e9c3;
    color: #000;
    position: relative;
    top: 43%;
    left: 27%;
}
.close {
    display: block;
    width: 10px;
    float: right;
    text-decoration: none;
    font-size: 26px;
    position: relative;
    right: 15px;
    font-family: sans-serif;
}